@font-face {
  font-family: 'Lester Bold';
  src: url('./assets/lesterbold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;